.pad-left {
  margin-left: 15px;
}

.pad-right {
  margin-right: 15px;
}

.deco-icon {
    color: black;
    font-size: 24px;
    vertical-align: middle; }
    .fa-envelope.deco-icon {
      font-size:20.56px;
    }