.pad-left {
  margin-left: 15px;
}

.pad-right {
  margin-right: 15px;
}

.deco-icon {
    color: black;
    font-size: 35px;
    vertical-align: middle; }
    .fa-envelope.deco-icon {
      font-size: 35px;
    }
  @media screen and (max-width: 767px) {
    .deco-icon {
      font-size: 25px; }
      .fa-envelope.deco-icon {
        font-size: 25px;
      }
  }

a > .deco-icon:hover {
  color: #343A40;
}