.section {
  padding-bottom: 40px;
}

.section-heading {
    position: relative;
    z-index: 1;
    margin-top: 60px;
    margin-bottom: 50px; }
    .section-heading h2 {
      font-size: 36px;
      text-transform: capitalize;
      margin-bottom: 5px;
      display: block;
      line-height: 1.2; }
      @media only screen and (max-width: 767px) {
        .section-heading h2 {
          font-size: 24px; } }
    .section-heading p {
      margin-bottom: 0; }
  
    .deco-icon {
      color: black;
      font-size: 24px;
      vertical-align: middle;
      margin-right: 8px; }
      .fa-envelope.deco-icon {
        font-size:20.56px;
      }

.list-spacing {
    margin-bottom: 15px;
}